{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>상품명</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if products_list %}
        {% for products in products_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{% url 'products:detail' products.id %}">{{ products.display_name }}</a>
            </td>
            <td>{{ products.reg_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">상품이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>