{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<div class="container my-3">
    <h2 class="border-bottom py-2">{{ products.product.display_name }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ products.product.name }}</div>
            <div class="card-text" style="white-space: pre-line;">{{ products.option_1_type }} : {{ products.option_1_display_name }}</div>
            <div class="card-text" style="white-space: pre-line;">{{ products.option_2_type}} : {{ products.option_2_display_name }}</div>
            <div class="card-text" style="white-space: pre-line;"></div>
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2">
                    {% if products.is_sold_out %}
                        {{ products.stock_quantity }}
                    {% else %}
                        품절
                    {% endif%}
                </div>
                <div class="badge badge-light p-2">
                    {{ products.update_date }}
                </div>
            </div>
        </div>
    </div>
    <div>
        {% if  %}
    </div>
    <a href="{% url 'products:question_create' products.id %}" class="btn btn-primary">질문 등록하기</a>
</div>
